<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/comment.css">
    <link rel="stylesheet" href="/navigation.css">
    <link rel="shortcut icon" href="/icon512.png" />
</head>
<body>
    <div class="haikei">
        <%- include("common/sideNav.ejs")%>
        <div class="flex-wrapper-two">
            <div class="commentsec">
                <p class="com1-date">1日前</p>
                <div class="line-17"></div>
                <p class="more">もっと見る</p>
                <p class="com2">近くの業スーかなあ</p>
                <p class="com2-date">18時間前</p>
                <p class="user2">かとう</p>
                <div class="line-16"></div>
                <p class="user1">りこち</p>
                <p class="com1">ワッフルどこで買うん？？</p>

                <div class="rectangle-8"></div>
                <p class="pl">P:5 L:2</p>
                <img alt="" class="user2icon" src="https://static.overlay-tech.com/assets/88973381-084a-42a7-b354-9e3deb3b5fc8.png" /><img alt="" class="user1icon" src="https://static.overlay-tech.com/assets/64812f2e-b900-4c8e-b59b-66df96309402.png" /><img alt="" class="comline" src="https://static.overlay-tech.com/assets/9296c7d3-81a2-4eaa-b743-e191aed99cd4.png" />
                <p class="pl">P:5 L:2</p>
                </commemtsec>

                <div class="detail">
                    <p class="title"><%= keywords %></p>

                    <div class="rectangle-6"></div>
                    <div class="rectangle-7"></div>
                    <p class="pl">P:5 L:2</p>
                </div>

            </div>
        </div>
    </div>
    <%- include("common/bottomNav.ejs")%>
</body>
</html>
