<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/search-result.css">
    <link rel="stylesheet" href="/navigation.css">
</head>
<body>
    <div class="haikei">
        <%- include("common/sideNav.ejs")%>
        <div class="flex-wrapper-three">
            <p class="name">すみせ</p>
            <p class="num3-text">
                そろそろWebアプリの準備進めたくない？Eve忙しくてあんまできてないし・・・
            </p>
            <p class="num2-text">
                ・・・これについてはどっちかというとWebアプリってよりはブラウザっぽくなっちゃうから、そこでどう違いを出していくかが・・・
            </p>
            <p class="num1-text">
                ・・・それでWebアプリの発表に移りたいんやけど、どの班からできそう？全然やりたいところあったら立候補でも・・・
            </p>
            <p class="num3">💬11/4</p>
            <p class="num1">#11/25</p>
            <p class="num2">#11/11</p>
            <img alt="" class="waku" src="https://static.overlay-tech.com/assets/3d9d497b-465c-4433-b09f-65ab2d7811ed.png" />
            <a href="/public/searchhtml">
                <div class="num-1-1">
                    <img alt="" class="return" src="https://static.overlay-tech.com/assets/98c87186-cb14-4666-a633-6302b7762c99.svg" />
                </div>
            </a>
            <img alt="" class="mark" src="https://static.overlay-tech.com/assets/5cc4c27f-6e0b-487a-a175-f5648bca57d9.png" /><img alt="" class="com-icon" src="https://static.overlay-tech.com/assets/95e34a16-4011-4771-b0d8-dba13f6b0053.png" />
        </div>
    </div>
    <%- include("common/bottomNav.ejs")%>
</body>
</html>
