<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="/navigation.css">
</head>
<body>
    <div class="haikei">
        <%- include("common/sideNav.ejs")%>
        <div class="flex-wrapper-two">
            <img alt="" class="image-4" src="https://static.overlay-tech.com/assets/3ed62937-2b1c-46ff-b4ef-e397c3e762c4.png" /><img alt="" class="rectangle-1" src="https://static.overlay-tech.com/assets/3a38e350-98f5-4133-8c97-eee6db38656a.png" /><img alt="" class="group-1" src="https://static.overlay-tech.com/assets/84c0f19b-4cb6-4288-83ae-c114ec320b24.png" />
            <a href="/public/search-resulthtml">
                <p class="kensaku">検索</p>
            </a>
            <p class="kensakuop">検索オプション</p>
            <p class="user">ユーザー検索</p>
            <p class="time">時間帯</p>
            <p class="day">年月日</p>
            <p class="tag">タグ検索</p>
            <div class="line-14"></div>
            <p class="rireki">履歴</p>
            <p class="rireki1">EVE</p>
            <p class="rireki2">最終ゼミ</p>
        </div>
    </div>
    <%- include("common/bottomNav.ejs")%>
</body>
</html>
