<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/setting.css">
            <link rel="stylesheet" href="/navigation.css">
    <link rel="shortcut icon" href="/icon512.png" />
</head>
<body>
    <div class="haikei">
        <%- include("common/sideNav.ejs")%>
        <div class="flex-wrapper-two">
            <p class="name">りこち</p>
            <p class="jiko">自己紹介</p>
            <p class="selfintro">はじめまして！宮崎ゼミです！</p>
            <img alt="" class="usericon" src="https://static.overlay-tech.com/assets/a6b67df6-781a-4520-b2e8-41ad8728de35.png" /><img alt="" class="rectangle-18" src="https://static.overlay-tech.com/assets/4d6da7b7-97e5-4a7f-b946-0b3386a0edb9.png" />
            <p class="edit">プロフィールを編集</p>
            <p class="address">
                wawawa&#64;mail3.doshisha.ac.jp
                </p>
            <br>
            <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/3055e68b-dff4-48f7-a81f-dfd84d973f62.png" />

            <p class="theme">・テーマ</p>
            <p class="txtvid">・テキストや動画</p>
            <p class="notification">・通知</p>
            <p class="connection">・通信設定</p>
            <p class="bluetooth">・Bluetooth</p>
            <p class="qrurl">・QRコード、URL</p>
        </div>
    </div>
    <%- include("common/bottomNav.ejs")%>
</body>
</html>
