html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #1A3266 0%, rgba(10, 12, 19, 0.62) 100%);
    background-size: cover;
}

/* navi */
.flex-wrapper-one{
    position: fixed;
    width: fit-content;
    height: 100%;
    padding: 0 3px 0;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background: #D9D9D9;
    font-family: 'Quicksand', sans-serif;
}

.flex-wrapper-one > a {
    display: block;
    text-align: center;
    display:flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: #1e3858;

}

.icon {
    opacity: 1;
}
.icon:hover {
    opacity: 0.5;
}

/* date */
.flex-wrapper-two {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 5%;
    height: 100%;
}

.title{
    /* position: absolute;
    width: 20%;
    height: 30%;
    left: 40%;
    top: 0%; */

    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;

    color: #D9D9D9;
}

.circle, .key {
    width: fit-content;
    height: fit-content;
}

.cir1{
    box-sizing: border-box;

position: absolute;
width: 20%;
height: 40%;
left: 43%;
top: 50%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
z-index: 2;
cursor: pointer;
transition: all .3s;
}
.cir1:hover {
    top:49%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.num1{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 49.5%;
    top: 62.5%;
    margin: 0%;
    z-index: 3;
    font-size: 200%;
    color: #011C40;
    transition: all .3s;
}
.num1:hover {
    top:61.5%;
}

.cir2{
    box-sizing: border-box;

position: absolute;
width: 17%;
height: 34%;
left: 59%;
top: 37%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
z-index: 1;
cursor: pointer;
transition: all .3s;
}
.cir2:hover {
    top:36%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.num2{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 65%;
    top: 48%;
    margin: 0%;
    z-index: 3;
    font-size: 160%;
    color: #011C40;
    transition: all .3s;
}
.num2:hover {
    top:47%;
}

.cir3{
    box-sizing: border-box;

position: absolute;
width: 14%;
height: 28%;
left: 52%;
top: 17%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
z-index: 0;
cursor: pointer;
transition: all .3s;
}
.cir3:hover {
    top:16%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.num3{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 57%;
    top: 26%;
    margin: 0%;
    z-index: 3;
    font-size: 140%;
    color: #011C40;
    transition: all .3s;
}
.num3:hover {
    top:25%;
}

.cir4{
    box-sizing: border-box;

position: absolute;
width: 14%;
height: 28%;
left: 38%;
top: 17%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
z-index: 0;
cursor: pointer;
transition: all .3s;
}
.cir4:hover {
    top:16%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.num4{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 43%;
    top: 26%;
    margin: 0%;
    z-index: 3;
    font-size: 140%;
    color: #011C40;
    transition: all .3s;
}
.num4:hover {
    top:25%;
}


.cir5{
    box-sizing: border-box;

position: absolute;
width: 17%;
height: 34%;
left: 31%;
top: 37%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
z-index: 1;
cursor: pointer;
transition: all .3s;
}
.cir5:hover {
    top:36%;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}
.num5{
    position: absolute;
    width: 12%;
    height: 5%;
    left: 37%;
    top: 48%;
    margin: 0%;
    z-index: 3;
    font-size: 160%;
    color: #011C40;
    transition: all .3s;
}
.num5:hover {
    top:47%;
}
