/* all ------------------------------------------- */
html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #1A3266 0%, rgba(10, 12, 19, 0.62) 100%);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    margin: 0;
}

/* navi ------------------------------------------- */
.flex-wrapper-one{
    position: fixed;
    width: fit-content;
    height: 100%;
    padding: 0 10px 0;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background: #D9D9D9;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.flex-wrapper-one > a {
    display: block;
    text-align: center;
    display:flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: #1e3858;

}

.icon {
    opacity: 1;
}
.icon:hover {
    opacity: 0.5;
}

/* keyword全体 -------------------------------- */
.flex-wrapper-two {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 5%;
    height: 100%;
    font-family: 'Noto Serif JP', serif;
}

/* 日付 ---------------------------------------------- */
.day{

    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin: 5% auto 5%;

    color: #D9D9D9;
}


/* 戻るボタン--------------------------------------- */
.return{
    position: absolute;
    width: 59px;
    height: 59px;
    left: 15%;
    top: 25%;
    opacity: 1;
}
.return:hover {
    opacity: 0.5;
}

/* circle ----------------------------------------- */
.cir0{
    box-sizing: border-box;

    position: absolute;
    width: 186.08px;
    height: 185px;
    left: 46%;
    top: 20%;

    background: #D9D9D9;
    border: 1px solid #000000;
    border-radius: 50%;
transition: all .3s;
}

.cir0:hover {
    top: 19%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.cir1{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 62%;
top: 43%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
transition: all .3s;
}

.cir1:hover {
    top: 42%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.cir2{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 46%;
top: 68%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
transition: all .3s;
}

.cir2:hover {
    top: 67%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.cir3{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 30%;
top: 43%;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
transition: all .3s;
}

.cir3:hover {
    top: 42%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}


/* time */
.arrow1{
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 0px;
    left: 50%;
    top: 53%;
    z-index: 2;

    border: 4px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}
.arrow2{
    box-sizing: border-box;

    position: absolute;
    width: 40px;
    height: 0px;
    left: 51%;
    top: 55%;
    z-index: 2;

    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* keyword ------------------------------------------------ */
.kw00 {
    position: absolute;
height: 21px;
left: 48%;
top: 24%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw00:hover {
    top: 23%;
}

.kw01 {
    position: absolute;
height: 21px;
left: 49%;
top: 29%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw01:hover {
    top: 28%;
}

.kw02 {
    position: absolute;
height: 21px;
left: 48%;
top: 34%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw02:hover {
    top: 33%;
}

.kw10 {
    position: absolute;
height: 21px;
left: 64%;
top: 47%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw10:hover {
    top: 46%;
}

.kw11 {
    position: absolute;
height: 21px;
left: 65%;
top: 52%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw11:hover {
    top: 51%;
}

.kw12 {
    position: absolute;
height: 21px;
left: 64%;
top: 57%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;


transition: all .3s;
}

.kw12:hover {
    top: 56%;
}

.kw20 {
    position: absolute;
height: 21px;
left: 48%;
top: 73%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;


transition: all .3s;
}

.kw20:hover {
    top: 72%;
}

.kw21 {
    position: absolute;
height: 28px;
left: 49%;
top: 78%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw21:hover {
    top: 77%;
}

.kw22 {
    position: absolute;
height: 28px;
left: 48%;
top: 83%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw22:hover {
    top: 82%;
}

.kw30 {
    position: absolute;
height: 28px;
left: 32%;
top: 47%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw30:hover {
    top: 46%;
}

.kw31 {
    position: absolute;
width: 132px;
height: 28px;
left: 33%;
top: 52%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw31:hover {
    top: 51%;
}

.kw32 {
    position: absolute;
width: 132px;
height: 28px;
left: 32%;
top: 57%;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

transition: all .3s;
}

.kw32:hover {
    top: 56%;
}
