/* all ------------------------------------------- */
html {
    height: 100%;
}

body {
    height: 100%;
    background: linear-gradient(180deg, #1A3266 0%, rgba(10, 12, 19, 0.62) 100%);
    background-size: cover;
    background-attachment: fixed;
}

/* navi ------------------------------------------- */
.flex-wrapper-one{
    position: fixed;
    width: fit-content;
    height: 100%;
    padding: 0 3px 0;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background: #D9D9D9;
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.flex-wrapper-one > a {
    display: block;
    text-align: center;
    display:flex;
    flex-flow: column;
    align-items: center;
    text-decoration: none;
    color: #1e3858;

}

.icon {
    opacity: 1;
}
.icon:hover {
    opacity: 0.5;
}

/* keyword全体 -------------------------------- */
.flex-wrapper-two {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-left: 5%;
    height: 100%;
}

/* 戻るボタン--------------------------------------- */
.return{
    position: absolute;
    width: 39px;
    height: 39px;
    left: 25%;
    top: 15%;
}


.cir1{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 567px;
top: 120px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;


}

.cir2{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 728px;
top: 255px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
}

.cir3{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 567px;
top: 395px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
}

.cir4{
    box-sizing: border-box;

position: absolute;
width: 186.08px;
height: 185px;
left: 406px;
top: 257px;

background: #D9D9D9;
border: 1px solid #000000;
border-radius: 50%;
}

.day{
    height: 60px;

    font-family: 'Noto Serif JP';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 57px;

    color: #D9D9D9;
}



.time-cir{
    position: absolute;
width: 6px;
height: 6px;
left: 657px;
top: 350px;
z-index: 1;
border-radius: 50%;

background: #0C0B0B;
}

.arrow1{
    box-sizing: border-box;

    position: absolute;
    width: 22px;
    height: 0px;
    left: 650px;
    top: 340px;
    z-index: 2;

    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}
.arrow2{
    box-sizing: border-box;

    position: absolute;
    width: 25px;
    height: 0px;
    left: 660px;
    top: 350px;
    z-index: 2;

    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.kw11 {
    position: absolute;
width: 83px;
height: 21px;
left: 610px;
top: 137px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw12 {
    position: absolute;
width: 83px;
height: 21px;
left: 679px;
top: 173px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw13 {
    position: absolute;
width: 83px;
height: 21px;
left: 615px;
top: 198px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw21 {
    position: absolute;
width: 83px;
height: 21px;
left: 793px;
top: 275px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw22 {
    position: absolute;
width: 83px;
height: 21px;
left: 764px;
top: 310px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw23 {
    position: absolute;
width: 83px;
height: 21px;
left: 823px;
top: 332px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;


}

.kw31 {
    position: absolute;
width: 83px;
height: 21px;
left: 610px;
top: 410px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;


}

.kw32 {
    position: absolute;
width: 123px;
height: 28px;
left: 636px;
top: 440px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw33 {
    position: absolute;
width: 132px;
height: 28px;
left: 589px;
top: 472px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw41 {
    position: absolute;
width: 132px;
height: 28px;
left: 471px;
top: 275px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw42 {
    position: absolute;
width: 132px;
height: 28px;
left: 442px;
top: 310px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

.kw43 {
    position: absolute;
width: 132px;
height: 28px;
left: 501px;
top: 332px;

font-family: 'Noto Serif JP';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #000000;

}

ul {
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
  /*   height: 100vh; */

  }
li {
    /* scroll-snap-align: start; */
  /*   height: 100vh; */
  }
