.rectangle-1 {
    box-sizing: border-box;

position: absolute;
width: 48%;
height: 6%;
left: 25%;
top: 12%;

background: #D9D9D9;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
transform: matrix(1, 0, 0, -1, 0, 0);
}
.group-1 {
    position: absolute;
width: 1.5%;
height: 3%;
left: 70.5%;
top: 13.5%;
}
.image-4 {
    position: absolute;
    width: 2%;
    height: 4%;
    left: 71%;
    top: 51%;
}
.line-14{
    position: absolute;
width: 48%;
height: 2px;
left: 25%;
top: 48.5%;
border: 1px solid #6B6A6A;
}

.kensaku{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 10.7%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #262222;
}

.kensakuop{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 19%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #A8A8A8;
}

.user{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 24%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.time{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 30%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.day{

position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 36%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.tag{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 42%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;
}

.rireki{
    position: absolute;
width: 20%;
height: 40%;
left: 26%;
top: 49%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 15px;

color: #FFFFFF;
}

.rireki1{
    position: absolute;
width: 20%;
height: 40%;
left: 27%;
top: 52%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;
}

.rireki2{
    position: absolute;
width: 20%;
height: 40%;
left: 27%;
top: 58%;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #FFFFFF;

}
