<div class="bottom-menu">
    <ul class="menu">
        <li>
            <a href="/public/datehtml"><i class="fa-solid fa-house fa-2x"></i><br>
                <span class="iconname">Home</span></a>
        </li>
        <li>
            <a href="/public/searchhtml"><i class="fa-solid fa-magnifying-glass fa-2x"></i><br>
                <span class="iconname">Search</span></a>
        </li>
        <li>
            <a href="/public/uploadhtml"><i class="fa-solid fa-circle-plus fa-2x"></i><br>
                <span class="iconname">Upload</span></a>
        </li>
        <li>
            <a href="/public/settinghtml"><i class="fa-sharp fa-solid fa-gear fa-2x"></i><br>
                <span class="iconname">Setting</span></a>
        </li>
    </ul>
</div>
<script src="https://kit.fontawesome.com/b3bb9c392c.js" crossorigin="anonymous"></script>
