<style>
    .header{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: solid;
    }
    #icon{
        width: 3rem;
        margin: 10px;
    }
    .rogo-name{
        font-size: 2rem;
        font-weight: 900;
    }
</style>
<div class="fixed-top header">
    <img class="rounded-4" id="icon" src="/icon512.png" alt="icon">
<h1 class="rogo-name">Patrica</h1>
</div>
